@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Quicksand:wght@500&display=swap');

body{
  background-image: url(capa.png);
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.login-form {
    max-width: 300px;
    margin-left: 23%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    
}

.login-form-forgot {
  color: #ffffff;
  padding: 12px 20px;
}

.ant-col-rtl .login-form-forgot {
    color: #ffffff;
}

.login-form-button {
    width: 100%;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
#form{
  width: 30%;
  border-radius: 5px;
  background-color: #1E3C4C;
  padding-top: 50px;
  margin-left: 35%;
  margin-block: 8%;
  margin-inline-end: 30%;

}
.input-title{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

.input-title2{
color: #ffffff;
font-family: 'Quicksand', sans-serif;
font-weight: bold;

}
#title_form1{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color:#ffffff;
  text-align: center;
  font-weight: bold;
}
#a{
  text-decoration: none;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
  
}
#a :hover{
  color:#ffffff;
}

#or{
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 45%;
  
}
